.centered
	display: flex
	align-items: center
	justify-content: center

.vertical
	flex-direction: column

.shadow
	box-shadow: 0 0.5rem 25px -5px rgb(0 0 0 / 20%)

//box-shadow: 0 0.6rem 1rem -3px rgba(0, 0, 0, .1), 0 0.25rem 0.35rem -1px rgba(0, 0, 0, .05)

.mt-2
	margin-top: 2rem
