@import "vars"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	// for Firefox
	scrollbar-width: thin
	scrollbar-color: var(--theme-primary-bg-color) var(--theme-secondary-bg-color)

// Chrome/Edge/Safari
*::-webkit-scrollbar
	height: 12px
	width: 12px

*::-webkit-scrollbar-track
	background: var(--theme-primary-bg-color)

*::-webkit-scrollbar-thumb
	background-color: var(--theme-secondary-bg-color)
	border-radius: var(--border-radius)
	border: 3px solid var(--theme-primary-bg-color)
	opacity: 0.7

img
	width: 100%
	height: auto

p
	margin-bottom: 0.5em
