@import "vars"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	// for Firefox
	scrollbar-width: thin
	scrollbar-color: var(--theme-primary-bg-color) var(--theme-secondary-bg-color)

// Chrome/Edge/Safari
*::-webkit-scrollbar
	height: 12px
	width: 12px

*::-webkit-scrollbar-track
	background: var(--theme-primary-bg-color)

*::-webkit-scrollbar-thumb
	background-color: var(--theme-secondary-bg-color)
	border-radius: var(--border-radius)
	border: 3px solid var(--theme-primary-bg-color)
	opacity: 0.7

a
	color: var(--theme-link-color)
	text-decoration: none
	opacity: 0.7

	&:hover
		transition: 150ms all ease-out
		opacity: 1

h1, h2, h3, h4, h5
	font-family: var(--font-family-secondary)
	line-height: var(--line-height-title)
	font-weight: bold
	color: var(--theme-primary-color)

h1
	font-size: calc(2.2em + 0.5vw)

h2
	font-size: calc(1.8em + 0.5vw)

h3
	font-size: calc(1.4em + 0.5vw)

h4
	font-size: calc(1.2em + 0.5vw)

h5
	font-size: calc(1em + 0.5vw)

img
	width: 100%
	height: auto

p
	margin-bottom: 0.5em
	font-size: 1em
	// text-shadow: 1px 1px 2px transparentize(black, 0.7)
