$base-fonts: "Tahoma", "Arial", serif
$brand-color: #104046
$additional-color: #144893
$default-btn-color: #FFF
$gap: 0.5em

$info-header-multiplier: 1.2rem

$navbar-height: 4rem
$sidebar-collapsed-w: 4rem
$main-padding: 4vw
$content-max_w: 900px
$controls-padding: 0.45rem
$nav-link-margin: $controls-padding
$icon-size: 1.8em
$link-icon-size: 1.2em
