$base-fonts: "Tahoma", "Arial", serif
$brand-color: #104046
$default-btn-color: #FFF
$navbar-height: 4rem
$sidebar-collapsed-w: 4rem
$main-padding: 4vw
$main-margin: 2rem
$btn-padding: 0.5em
$nav-link-margin: $btn-padding
$modal-transition-time: 200ms
$icon-size: 2.4rem

\:root
	--font-family-secondary: "Calibri", #{ $base-fonts }
	--font-family-main: "Consoles", #{ $base-fonts }

	--font-size-main-xl: 17px
	--font-size-main-l:  16px
	--font-size-main-m:  15px
	--font-size-main-s:  14px

	--font-size-title-xl: 32px
	--font-size-title-l:  28px
	--font-size-title-m:  26px
	--font-size-title-s:  24px

	--line-height-title: 1.3
	--line-height-main:  1.5

	--navbar-height: $navbar-height

	--border-radius: 1.2rem

	--sidebar-width: auto

	@media (min-width: 768px)
		--sidebar-width: 40%

	@media (min-width: 992px)
		--sidebar-width: 250px

	@media (min-width: 1200px)
		--sidebar-width: 300px

	--overlay-bg-color: #{transparentize(black, 0.6)}
	--modal-width: 60%
	--modal-height: 80%
	--modal-z-index: 30
