@import "vars"
@import "reset"
@import "mixins"
@import "common"
@import "theme/dark"
@import "theme/light"
@import "theme/additional"

html
	scroll-behavior: smooth

body
	color: var(--theme-primary-text-color)
	background-color: var(--theme-primary-bg-color)
	line-height: var(--line-height-main)
	font-family: var(--font-family-main)
	font-size: var(--font-size-main-s)

	@media (min-width: 576px)
		font-size: var(--font-size-main-m)

	@media (min-width: 992px)
		font-size: var(--font-size-main-l)

	@media (min-width: 1200px)
		font-size: var(--font-size-main-xl)

#root
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	height: 100%
	min-height: 100vh


main
	position: relative
	display: flex
	align-items: flex-start
	flex: 1
	width: 100%
	//height: 100%
	max-height: calc(100vh - var(--navbar-height))
	overflow: hidden
	z-index: 20
