@import "src/app/styles/vars"

.listBox
	display: inline-flex
	align-items: center
	font-family: var(--font-family-secondary)

	&.compact
		justify-content: flex-start

	&:not(.compact)
		justify-content: flex-end

.options
	max-width: 250px
	margin: 2px 0

	&.compact
		width: 100%
		//text-align: left

.item
	padding: 0.35em $controls-padding * 2

.label
	margin-right: var(--gap)

.toggle__element
	width: auto
	color: var(--theme-popup-text-color) !important
	border-color: var(--theme-popup-border-color) !important
	opacity: 1

.dropdown__icon
	width: 1.5rem
	margin: -0.35em -0.2em -0.35em var(--gap)
