@import "/src/app/styles/vars"
@import "/src/app/styles/common"

.info__block
	width: 100%
	font-size: $info-header-multiplier

	&.extra_large
		font-size: 1.6rem

	&.large
		font-size: 1.2rem

	&.medium
		font-size: 1rem

	&.small
		font-size: 0.8rem

	.subtitle
		padding: 0

.inlined
	@extend .inline

	.title ~ .subtitle
		margin-left: 2em

.center
	text-align: center

.right
	text-align: right


.success
	color: var(--theme-info-success)

.warning
	color: var(--theme-info-warning)

.error
	color: var(--theme-info-error)
