@import "src/app/styles/vars"
@import "src/app/styles/common"
@import "src/app/styles/mixins"

.button
	display: flex
	justify-content: center
	align-items: center
	gap: 0.25em
	min-height: var(--controls-height)
	font-family: var(--font-family-secondary)
	color: inherit
	background-color: transparent
	border: var(--border-thickness) solid transparent
	border-radius: var(--border-radius-default)
	transition: all 0.2s ease-out
	opacity: 0.7
	cursor: pointer
	user-select: none

	&:hover, &:focus
		opacity: 1

.primary
	&:not(.clear)
		color: var(--theme-primary-link-color)

	&.bordered
		border-color: var(--theme-primary-border-color)

	&.inverted
		color: var(--theme-primary-bg-color)
		background-color: var(--theme-primary-text-color)

	&.shadowed
		box-shadow: 0 0.3em 1.1em -0.4em var(--theme-primary-box-shadow)


.secondary
	&:not(.clear)
		color: var(--theme-secondary-link-color)

	&.bordered
		border-color: var(--theme-secondary-border-color)

	&.inverted
		color: var(--theme-secondary-bg-color)
		background-color: var(--theme-secondary-text-color)

	&.shadowed
		box-shadow: 0 0.3em 1.1em -0.4em var(--theme-secondary-box-shadow)

.fullWidth
	width: 100%

.left
	justify-content: flex-start

.right
	justify-content: flex-end

.small
	font-size: 0.7rem

	.icon
		width: var(--icon-size-sm)

.normal
	font-size: inherit

	.icon
		width: var(--icon-size)

.large
	font-size: 1.5rem

	.icon
		width: var(--icon-size-lg)

.rounded
	border-radius: var(--border-radius)


// TODO: finalize square variant
.squared
	padding: $controls-padding

.with__caption:not(.clear, .is__link), .is__link .link
	min-width: 4em
	padding: calc(#{$controls-padding} + 1px) $controls-padding * 1.8 $controls-padding

.underlined
	border-top-color: transparent
	border-left-color: transparent
	border-right-color: transparent

.disabled
	pointer-events: none
	opacity: 0.5

.hover
	mix-blend-mode: luminosity
