.avatar__wrapper
	position: relative
	width: 100px
	height: 100px
	// background-color: var(--theme-primary-color)
	overflow: hidden

	&.rounded
		border-radius: 50rem

.img
	position: absolute
	top: 0
	left: 0
	min-width: 100%
	min-height: 100%
	object-fit: cover
	object-position: center

.placeholder
	margin: 10px
	color: var(--theme-primary-bg-color)
