@use "sass:math"

@import "src/app/styles/vars"
@import "src/app/styles/mixins"


.sidebar
	svg
		margin-right: 0.5em

	.sidebar__container
		> *
			margin: 0.5rem auto

	&.collapsed
		//transform: translateX(-$sidebar-collapsed-w)

		.sidebar__container
			transform: none

			.minified
				margin-right: 0
				padding: $controls-padding

				svg
					margin-right: 0
