@import "src/app/styles/mixins"
@import "src/app/styles/common"
@import "src/app/styles/_vars"

.sidebar
	position: absolute
	height: calc(100vh - var(--navbar-height) - #{$main-padding * 2})
	background-color: var(--theme-sidebar-bg-color)
	border-top-right-radius: var(--border-radius)
	border-bottom-right-radius: var(--border-radius)
	border: 2px solid var(--theme-primary-border-color)

	@extend .shadow

	transform: none
	transition: 250ms ease-in-out
	z-index: 2

	&.left
		// TODO: remove unused left, right, top, bottom sizes
		@include push--absolute(0, $sidebar-collapsed-w, 0, 0)

		margin-right: 0

		&.collapsed
			padding-right: 0.8rem
			transform: translateX(calc(-100% + #{$sidebar-collapsed-w}))

	@media screen and (min-width: 768px)
		position: sticky !important
		top: 0 !important
		left: inherit !important
		width: var(--sidebar-width)
		min-width: var(--sidebar-width)
		border-top-left-radius: var(--border-radius)
		border-bottom-left-radius: var(--border-radius)
		transform: none !important

		&.left
			right: 0
			margin-left: $main-padding

			//border-left-width: 2px

			&.collapsed
				padding-right: 0.3em
				margin-left: calc(var(--sidebar-width)  * -1 + #{$sidebar-collapsed-w})


.toggle__btn
	position: absolute
	top: 0
	left: 100%
	margin: 1rem
