@import "../vars"

body.dark
	--theme-primary-link-color: #{lighten($brand-color, 40%)}
	--theme-primary-color: #{lighten($brand-color, 60%)}
	--theme-primary-bg-color: #{$brand-color}
	--theme-primary-text-color: #EEE
	--theme-primary-border-color: #{lighten($brand-color, 10%)}
	--theme-primary-shadow: #{lighten($brand-color, 10%)}
	--theme-primary-box-shadow: #{transparentize(#000, 0.2)}
	--theme-primary-skeleton-color: #{lighten($brand-color, 5%)}

	--theme-secondary-link-color: #{lighten($brand-color, 40%)}
	--theme-secondary-color: #{lighten($brand-color, 70%)}
	--theme-secondary-bg-color: #{darken($brand-color, 5%)}
	--theme-secondary-text-color: #{lighten($brand-color, 60%)}
	--theme-secondary-border-color: #{lighten($brand-color, 5%)}
	--theme-secondary-shadow: #{lighten($brand-color, 20%)}
	--theme-secondary-box-shadow: #000
	--theme-secondary-skeleton-color: #{lighten($brand-color, 15%)}

	--theme-navbar-bg-color: #{darken($brand-color, 20%)}
	--theme-navbar-link-color: #{lighten($brand-color, 60%)}

	--theme-sidebar-bg-color: #{darken($brand-color, 5%)}
	--theme-modal-bg-color: #{darken($brand-color, 10%)}
	--theme-modal-input-color: #{lighten($brand-color, 60%)}
	--theme-modal-text-color: #FFF
	--theme-modal-shadow-1: #{darken($brand-color, 5%)}
	--theme-modal-shadow-2: #{darken($brand-color, 12%)}
	--theme-modal-border-color: #{transparentize(lighten($brand-color, 60%), 0.5)}

	--theme-info-error: #FA2D25
	--theme-info-warning: #F19520
	--theme-info-success: #15C078

	--theme-code-bg-color: #{darken($brand-color, 3%)}
