@import "../vars"

body.dark
	--theme-primary-color: #{lighten($brand-color, 60%)}
	--theme-secondary-color: #{lighten($brand-color, 70%)}
	--theme-primary-shadow: #{lighten($brand-color, 10%)}
	--theme-secondary-shadow: #{lighten($brand-color, 20%)}

	--theme-link-color: #{lighten($brand-color, 40%)}

	--theme-primary-bg-color: #{$brand-color}
	--theme-primary-text-color: #EEE

	--theme-secondary-bg-color: #{darken($brand-color, 20%)}
	--theme-secondary-text-color: #FFF

	--theme-navbar-bg-color: #{darken($brand-color, 80%)}
	--theme-navbar-link-color: #{lighten($brand-color, 60%)}

	--theme-sidebar-bg-color: #{rgba(darken($brand-color, 80%),0.2)}

