@import "../vars"

body.light
	--theme-primary-color: #{lighten($brand-color, 20%)}
	--theme-secondary-color: #{lighten($brand-color, 30%)}
	--theme-primary-shadow: #{lighten($brand-color, 20%)}
	--theme-secondary-shadow: #{lighten($brand-color, 30%)}

	--theme-link-color: #{$brand-color}

	--theme-primary-bg-color: #fff
	--theme-primary-text-color: #444

	--theme-secondary-bg-color: #{lighten($brand-color, 10%)}
	--theme-secondary-text-color: #fff

	--theme-navbar-bg-color: #{lighten($brand-color, 50%)}
	--theme-navbar-link-color: #{$brand-color}

	--theme-sidebar-bg-color: #{rgba(lighten($brand-color, 50%),0.2)}
