@import "src/app/styles/mixins"

.wrapper
	position: relative
	background-color: transparent
	line-height: 0
	transition: background-color 0.2s ease-out
	overflow: hidden

	&.isLoading
		background-color: var(--avatar-color)

	&.isLoading, &.noImage
		transition: unset

		.img
			opacity: 0

.img
	// @include push--absolute
	// object-fit: cover
	transition: opacity 0.2s ease-out

.noImage
	background: var(--theme-popup-border-color)
	opacity: 0.5
