@import "src/app/styles/mixins"

.skeleton
	--shimmer-color: inherit

	background-color: inherit

	@include skeleton-bone

	&.inlined
		min-width: 100%

.shimmer__element
	width: inherit
	flex: 0 1 auto

	&.inlined
		&.avatar
			flex: 0 1 15%
			min-width: 15%
			width: inherit
			height: auto

.avatar
	flex: 1 0 15%
	min-width: 15%
	height: 0
	padding-bottom: 15%

	&.avatar__xxl
		width: 600px
		min-width: auto
		padding-bottom: 600px

	&.avatar__xl
		width: 450px
		min-width: auto
		padding-bottom: 450px

	&.avatar__lg
		width: 300px
		min-width: auto
		padding-bottom: 300px

	&.avatar__md
		height: 150px
		min-width: auto
		padding-bottom: 150px

	&.avatar__sm
		width: 75px
		min-width: auto
		padding-bottom: 75px

	&.avatar__xs
		width: 30px
		min-width: auto
		padding-bottom: 30px

	&.avatar__auto
		flex: 1 0 auto
		width: auto
		min-width: 15%
		padding-bottom: 15%

.title
	min-height: 1em

.block
	height: 100%
	min-height: 3rem

.rounded
	border-radius: var(--border-radius)

	&.avatar
		border-radius: 50rem !important

.primary
	.shimmer__element
		background-color: var(--theme-primary-skeleton-color)

.secondary
	.shimmer__element
		background-color: var(--theme-secondary-skeleton-color)


.primary, .secondary
	&::before
		background: linear-gradient(to right, transparent 25%, var(--shimmer-color) 50%, transparent 75%)
