.select__wrapper
	position: relative
	display: flex
	align-items: center


.select
	min-height: var(--controls-height)
	padding: 0.7em 1em
	background-color: var(--theme-popup-bg-color)
	color: var(--theme-popup-text-color)
	border: 1px solid var(--theme-popup-border-color)
	border-radius: var(--border-radius-default)
	outline: none

	.option
		background-color: var(--theme-primary-bg-color)
		color: var(--theme-primary-color)

	&.rounded
		border-radius: var(--border-radius)

.label
	margin-right: 0.5em
