@import "src/app/styles/vars"

.link
	display: table
	padding: 0.25em 0
	line-height: 1
	border-bottom: 1px solid transparent
	user-select: none
	cursor: pointer

	&.primary
		color: var(--theme-primary-link-color)

		&.underlined
			border-bottom-color: var(--theme-primary-link-color)

	&.secondary
		color: var(--theme-secondary-link-color)

		&.underlined
			border-bottom-color: var(--theme-secodary-link-color)

	&.underlined:hover
		border-bottom-color: inherit

.left
	margin-right: auto

.right
	margin-left: auto
