@import "src/app/styles/vars"
@import "src/app/styles/common"

.close__button
	width: $icon-size
	height: $icon-size
	min-width: $icon-size !important
	padding: 0 !important
	border: none !important
	cursor: pointer
	background-color: transparent !important

	&::before
		content: "+"
		font-size: $icon-size
		line-height: 0
		color: var(--theme-primary-link-color)
		opacity: 0.7
		transform: rotate(45deg)
		transition: all 100ms ease-in-out

	&:hover
		&::before
			opacity: 1
			transform: rotate(135deg)
