.articles
	width: 100%

	&.tile
		@supports (display: grid)
			display: grid
			gap: 5%
			//align-items: center
			justify-items: center

.tile
	display: flex

.related__card
	display: flex
	flex-shrink: 0
	width: 200px
	font-size: 0.8rem

.shimmer
	background-color: var(--theme-primary-bg-color) !important
