.articles
	display: flex
	flex-wrap: wrap
	width: 100%

	&:not(.virtualized)
		&.list
			margin-bottom: 2rem
			gap: 2rem

		&.tile
			margin-bottom: 1rem
			gap: 1rem

			.article_item
				flex: auto
				max-width: 200px

		&.inlined
			display: inline-flex
			flex-wrap: nowrap


	&.tile
		@supports (display: grid)
			display: grid
			justify-items: center


.shimmer
	background-color: var(--theme-primary-bg-color) !important
	--shimmer-color: var(--theme-secondary-bg-color)
