@import "src/app/styles/_vars"

.header
	margin-bottom: 1.2rem

	.title, .subtitle
		flex: 100%
		overflow: hidden
		text-overflow: ellipsis

	.subtitle
		opacity: 0.7

	&.primary
		color: var(--theme-primary-text-color)

		&.shadowed
			.title
				text-shadow: 1px 1px 2px var(--theme-primary-shadow)

	&.secondary
		color: var(--theme-secondary-text-color)

		&.shadowed
			.title
				text-shadow: 1px 1px 2px var(--theme-secondary-shadow)

.firstcase
	text-transform: lowercase

	&::first-letter
		text-transform: uppercase

.lowercase
	text-transform: lowercase

.uppercase
	text-transform: uppercase
