.header
	color: inherit

.title, .subtitle
	flex: 100%
	overflow: hidden
	text-overflow: ellipsis

.title
	line-height: var(--line-height-title)

	&.start
		text-align: left

	&.center
		text-align: center

	&.end
		text-align: right

.inlined
	.title
		flex: auto

	.subtitle
		flex: 0 1 auto

.subtitle
	opacity: 0.7

.primary
	color: var(--theme-primary-text-color)

	&.shadowed, .shadowed
		text-shadow: 1px 1px 2px var(--theme-primary-shadow)

.secondary
	color: var(--theme-secondary-text-color)

	&.shadowed, .shadowed
		text-shadow: 1px 1px 2px var(--theme-secondary-shadow)

.upper_first
	text-transform: lowercase

	&::first-letter
		text-transform: uppercase

.lower_case
	text-transform: lowercase

.upper_case
	text-transform: uppercase
